<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Agrolytics</title>
    <link rel="stylesheet" href="static/index_style.css">
</head>
<body>
    <div class="overlay">
        <div class="main-heading-container">
            <div class="main-heading">
                <h1>AGROLYTICS</h1>
                <p class="italic">Smart Agricultural Insights 🌾</p>
            </div>
        </div>

        <div class="content-container">
            <div class="about-container">
                <h2>About the Project</h2>
                <p>
                    Agrolytics is a crop recommendation system powered by machine learning and in-depth data analysis. 
                    We processed and analyzed datasets containing soil nutrients, weather data, and historical crop performance. 
                    Feature selection, model evaluation, and visualization helped us build a highly accurate Extra Trees Regressor model 
                    to predict the best-suited crop,as well as predicting the yield output. With this model integrated using Flask and a sleek frontend, Agrolytics serves as a 
                    practical tool for smarter, data-backed agricultural decisions.
                </p>
                <div class="links">
                    <a href="https://github.com/vatssomya/Agrolytics" target="_blank" class="professional-link">GitHub Repository</a>
                    <a href="https://drive.google.com/drive/folders/1gjOWdHlgy3BU5f4msbErvbOJMKh1gH58?usp=sharing" target="_blank" class="professional-link">
                        View the Data Processing & Functionality
                    </a>
                </div>
            </div>

            <div class="button-container">
                <a class="nav-button" href="/crop_recommendation">🌱 Get Crop Recommendations</a>
                <a class="nav-button" href="/yield_prediction">🌾 Predict Crop Yield</a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-text">Minor Data Science Project: Somya Vats and Tanisha • 2025</div>
    </footer>
</body>
</html>
